<!DOCTYPE html>
<html>
<head>

    <title>Admin Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>

<body>

    <nav class="navbar">

        <div class="logo">
            🏢 SMART CITY <span>GRIEVANCE PORTAL</span>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#">About</a></li>
        </ul>

    </nav>

    <div class="dashboard-wrapper">

        <div class="dashboard-card">

            <div class="dashboard-header">
                <div class="stats-container">

                 <div class="stat-box">
                    <h4>Total</h4>
                    <h2>{{ total }}</h2>
                </div>

                <div class="stat-box">
                <h4>Electrical</h4>
                <h2>{{ electrical }}</h2>
                </div>

                <div class="stat-box">
                <h4>Water</h4>
                 <h2>{{ water }}</h2>
                </div>

                <div class="stat-box">
                <h4>Sanitation</h4>
                <h2>{{ sanitation }}</h2>
                </div>
                <div class="stat-box">

                <h4>General</h4>

                <h2>{{ general }}</h2>

                </div>

                <div class="stat-box">
                <h4>Suspicious</h4>
                <h2>{{ suspicious }}</h2>
                </div>

            </div>

                <div>

                    <h1>Complaints Dashboard</h1>

                    <br>

                    <p>     View, track, and manage all submitted complaints</p>

                </div>

                <div class="total-card">

                    <h4>Total Complaints</h4>

                    <h2>{{ complaints|length }}</h2>

                </div>

            </div>

            <div class="blue-line"></div>
            <div class="charts-container">

             <div class="chart-card">

            <h3>Complaint Categories</h3>

             <canvas id="categoryChart"></canvas>

            </div>
            <div class="chart-card">

            <h2>Complaint Status</h2>

            <canvas id="statusChart"></canvas>

            </div>
            </div>


            <form method="GET" action="/dashboard" class="search-form">

            <input
            type="text"
            name="search"
            placeholder="Search complaints..."
            value="{{ search }}"
            class="search-input">

            <select name="category" class="filter-select">

            <option value="">All Categories</option>

            <option value="Electrical">Electrical</option>

            <option value="Water Supply">Water Supply</option>

            <option value="Sanitation">Sanitation</option>

            <option value="General">General</option>

            </select>

            <select name="priority" class="filter-select">

            <option value="">All Priorities</option>

            <option value="High">High</option>

            <option value="Medium">Medium</option>

            <option value="Low">Low</option>

            </select>

            <select name="status" class="filter-select">

            <option value="">All Status</option>

            <option value="Pending">Pending</option>

            <option value="In Progress">In Progress</option>

            <option value="Resolved">Resolved</option>

            </select>

            <button type="submit" class="search-btn">

            Search

            </button>

            </form>
            <br>

            <table>

                <tr>

                    <th>ID</th>
                    <th>Complaint</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Anomaly</th>
                    <th>Timestamp</th>
                    <th>Action</th>

                </tr>

                {% for complaint in complaints %}

                <tr>

                    <td>{{ complaint[0] }}</td>

                    <td>{{ complaint[1] }}</td>

                    <td>

                        <span class="category">

                            {{ complaint[2] }}

                        </span>

                    </td>

                    <td>

                        {% if complaint[3] == 'High' %}
                        <span class="high">
                            {{ complaint[3] }}
                        </span>

                        {% elif complaint[3] == 'Medium' %}
                        <span class="medium">
                            {{ complaint[3] }}
                        </span>

                        {% else %}
                        <span class="low">
                            {{ complaint[3] }}
                        </span>
                        {% endif %}

                    </td>
                    <td>

                    {% if complaint[6] == "Pending" %}

                    <span class="pending">
                    Pending
                    </span>

                     {% elif complaint[6] == "In Progress" %}

                    <span class="progress">
                    In Progress
                    </span>

                    {% else %}

                    <span class="resolved">
                    Resolved
                    </span>

                    {% endif %}

                    </td>

                    <td>

                        {% if complaint[4] == 1 %}
                        <span class="suspicious">
                            ⚠ Suspicious
                        </span>

                        {% else %}
                        <span class="normal">
                            ✓ Normal
                        </span>
                        {% endif %}

                    </td>

                    <td>{{ complaint[5] }}</td>
                    <td>

                    <a href="/update_status/{{ complaint[0] }}">

                    <button class="update-btn">

                    Update

                    </button>

                    </a>

                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

    <footer>

        Smart City Grievance Portal

        <br><br>

        © 2026 All rights reserved.

    </footer>
    <script>

    const ctx = document.getElementById('categoryChart');

    new Chart(ctx, {
        plugins: [ChartDataLabels],

        type: 'pie',

        data: {

        labels: [

            'Electrical',

            'Water Supply',

            'Sanitation',

            'General'

        ],

        datasets: [{

            data: [

                {{ electrical }},

                {{ water }},

                {{ sanitation }},

                {{ general }}

            ],

            backgroundColor: [

                '#2563eb',

                '#06b6d4',

                '#16a34a',

                '#9333ea'

            ]

        }]

    }

});
const statusCtx = document.getElementById('statusChart');

new Chart(statusCtx, {

    type: 'bar',

    data: {

        labels: [

            'Pending',

            'In Progress',

            'Resolved'

        ],

        datasets: [{

            label: 'Number of Complaints',

            data: [

                {{ pending }},

                {{ in_progress }},

                {{ resolved }}

            ],

            backgroundColor: [

                '#facc15',

                '#3b82f6',

                '#22c55e'

            ]

        }]

    },

    options: {

        responsive: true,
        plugins: 
        {
            datalabels:
            {
                anchor: 'end',
                 align: 'top',
                 font:
                 {
                    weight: 'bold',
                    size: 14
                 }
            }

        },
    

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});

</script>

</body>
</html>